<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline' http://www.youtube.com/iframe_api https://www.youtube.com/s/player/71547d26/www-widgetapi.vflset/www-widgetapi.js"
    />
    <title>Hello Electron React!</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
